<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{layout::header}"></nav>
<div style="text-align: center">
    <h1>FACILITY</h1>
</div>
<!--<div th:if="${mess != null}">-->
<!--    <p style="color: red" th:text="${mess}"></p>-->
<!--</div>-->
<!--<div>-->
<!--    <form class="d-flex" action="/facility?action=findByName" method="post">-->
<!--        <input class="form-control me-2" type="search" name="name" placeholder="Tìm kiếm theo tên"-->
<!--               aria-label="Search">-->
<!--        <select name="serviceTypeId">-->
<!--            <option value="None">Choose a service:</option>-->
<!--            <option value="1">Villa</option>-->
<!--            <option value="2">House</option>-->
<!--            <option value="3">Room</option>-->
<!--        </select>-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--    </form>-->
<!--</div>-->

<div style="text-align: center">
    <h1 class="text-white">Facility</h1>
</div>
<table class="table table-striped table-bordered table table-dark table-striped" id="tableFacility">

    <tr>
        <th>ID</th>
        <th>Facility Type</th>
        <th>Name</th>
        <th>Area</th>
        <th>Cost</th>
        <th>Max people</th>
        <th>Rent Type</th>
        <th>Standard room</th>
        <th>Convenience</th>
        <th>Pool Area</th>
        <th>Number of floors</th>
        <th>Facility Free</th>
        <th style="text-align: center">Edit</th>
        <th style="text-align: center">Delete</th>
    </tr>
    <tr th:each="c,status :${customerList}">

    </tr>

    <td style="text-align: center">
        <a href="/facility?action=edit&id=${facility.id}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
        </a>
    </td>
    <td style="text-align: center">
        <button onclick="showInfoDelete('${facility.id}','${facility.nameService}')" type="button"
                class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#delete">
            Delete
        </button>
    </td>
    </tr>

</table>


<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/facility?action=deleteFacility" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="deleteId" name="idFacility">
                    <span>Bạn có muốn xóa Facility: </span><span id="deleteName"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-secondary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function showInfoDelete(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
</script>
<script src="js/bootstrap.min.js "></script>
</body>
</html>